html {
    background-color: black;
}
header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 24px;
}

.imagem img {
    width: 100%;

}

h2.centro {
    color: white;
    font-size: clamp(1.25rem, 0.9176rem + 1.0638vw, 1.875rem);
    padding: 20px;
}

.mb-3 {
    background-color: black;
    
}

.btn {
    margin: 20px;
}

p {
    color:white;
}

.retangulo {
    width: 280px;
    height: 360px;
    border: solid white;
    margin-bottom: 20px;
}

.imagem {
    margin-top: 14px;
    width: 248px;
    height: 142px;
    border: solid white;
}



.centro {
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}

.form-select {
    margin-left: 8px;
}

.input-group {
    margin-left: 37px;
}

.baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.modal-body .imagem {
    border: solid rgba(255, 255, 255, 0.281);
}

#game-list {
    gap: 0px;
}

.no-result {
    text-align: center;
    margin-top: 1rem;
}

.no-result-icon {
    font-size: 8rem;
    margin-bottom: 1rem;
}

.acima {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

span {
    color: white;
    padding: 5px;
}

.botao-fixado {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}